html{
	display:grid;
	width:100%;/*100% of the viewport width*/
	margin:0 auto;
	background-color:#D8BFD8
}
body{
	display:grid;
	font-family:"Calibri body", "Cursive", "Helvetica Neue", "sans serif";
	font-size:16px;
	grid-column-gap:15px;
	margin-left:auto;
	margin-right:auto;
	max-width:840px;
	min-width:540px;
	width:100%;
	color:#FFFFE0
	
}
header{
	font-weight:600;
	font-style:italic;
	grid-row:1;
	grid-column:1/-1;
	display:inline-grid;
	color:#FFB6C1

}

body> header > image{
	display:grid;
	width:100%;
	
}
h1{
	text-align:center;
	color:#FFB6C1;
	font-weight:600;
	font-style:italic;
	font-weight:600;
	display:grid;
	background-color:#BA55D3
}
h2{
	font-style:italic;
	text-align:center;
	display:block;
	color:#BA55D3
	
	
}
nav ul{
	list-style-type:none;
	display:grid;
	font-style:italic;
	color:#FFB6C1
}
nav ul li a:link{color:#FFD700}
nav ul li a:visited{color:#BA55D3}
nav ul li a:hover{color:#00FF00}
nav ul li a{
	padding:30px;
	display:inline-grid;

}
main{
	display:grid;
	grid-template-columns:2fr 1fr;
	font-size:16px;
}
body> main > image{
	float:left;
	grid-template-columns:2fr 1fr;
	
}
form
{
	display:grid;
	float:left;
	width:85%;
	font-family:"Calibri body", "Cursive", "Helvetica Neue", "sans serif";
	color:#FFFFE0
	
}
div.gallery{
	width: 100px;
	height: 50px;
	transform: skew(20deg);
	padding:30px;
}
	

div.gallery img{
	height:180px;
	width:100px;
	float:left;
	position:relative;
}

div.desc{
	padding:15px;
	text-align:center;
}

img{
	max-width:100%;
	height:auto;
}
/*for mobile phones*/
@media(max-width:480px){
	body{
		font-size:12px;
	}

.responsive{
	padding:0 6px;
	float:left;
	width:24.99999%
}
@media only screen and (max-width:700px){
	.responsive{
		width:100%;
	}
}
@media only screen and (max-width:500px){
	.responsive{width:100%;
	}
}
.responsive-img{
	width:100%;
	height:auto;
	display:block;
}
.container{
	max-width:100%;
	overflow:hidden;
}

.clearfix:after{
	content:"";
	display:table;
	clear:both;
}

footer{
	display:grid;
	font-style:italic;
	background-color:#D3D3D3
}

footer a:link{
	color:#F5FFFA}
	footer a:hover{color:#00FF00}
